.navbar {
    height: 10vh;
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 12px;
    background: wheat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* margin-bottom: 3vh; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar .logo {
    height: 80%;

}


.navbar ul {
    display: flex;
    gap: 6vw;
    font-weight: 600;
    position: relative;
    top: 13px;

}

.navbar li {
    cursor: pointer;
    height: 40px;
}